/*css document */

.resulttable{
	width: 95%;
	text-align: center;
	border: 1px solid black;
        margin-left: auto;
        margin-right:auto;
        
}
.resulttableth{
	background-color: #19547b;
	color:#ffffff;
}

.resulttablebd{
	background-color: #ffffff;
	color:#000000;
        border-radius: 5px;
}
